{% extends 'base.html.twig' %}

{% block title %}Mon Compte
{% endblock %}

{% block body %}
	{# Affichage d'une alerte Bootstrap d'un confirmation des changements de données de l'user #}
	{% for label, messages in app.flashes %}
    	{% for message in messages %}
		<div class="alert alert-{{ label }}" role="alert">
            {{ message }}
        </div>
    	{% endfor %}
	{% endfor %}

	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item" role="presentation">
			<button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Mes infos</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Ma liste</button>
		</li>
	</ul>
	<div class="tab-content" id="myTabContent">
		<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
			<table class="table table-striped">
				<tr>
					<td>Nom</td>
					<td>{{ user.name }}</td>
				</tr>
				<tr>
					<td>Prénom</td>
					<td>{{ user.firstname }}</td>
				</tr>
			</table>
            {{ form_start(form) }}

            {{ form_widget(form) }}

            {{ form_end(form) }}
			{#{{ dump(user) }}#}
		</div>
		<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
			{% if user.books|length > 0 %}
			<div class="row mt-3 ">
				{% for book in user.books %}
					<div class="col-12 col-md-3 col-xl-2 ">
					<div class="card">
						<img src="{{ asset('images/livres/' ~ book.imageName)}} " alt="{{ book.title }} " class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">{{ book.title }}</h5>
							<a href="{{ path('remove-book', {"id": book.id})}} " class="btn btn-dark w-100 ">Supprimer</a>
						</div>
					</div>
					</div>
				{% endfor %}
			</div>
			{% endif %}
		</div>
		<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">C</div>
	</div>
{% endblock %}
